html {
  margin: auto;
  padding: 30px;
  font-family: "Times New Roman", Times, serif;
  background-image: url(../sagamore-background.jpg);
  background-attachment: fixed;
}

#welcomeMessage {
  font-size: 48px;
  background-color: white;
  background-blend-mode: lighten;
  margin: 20px;
  border-bottom-color: black;
  border-bottom-style: solid;
  border-bottom-width: thin;
}

.container {
  margin-bottom: 20px;
  margin-top: 20px;
  padding: inherit;
  font-size: 36px;
  background-color: white;
}

.tideData {
  font-size: 24px;
}
